EMAIL_USERNAME=name@outlook.com
EMAIL_PASSWORD=password
BASE_URL=https://outlook.live.com/
ACCOUNT_BUTTON_NAME=meno_a_priezvisko
CONTACT_NAME=Meno Priezvisko
CONTACT_EMAIL=contact_email@xy.com
TEST_EMAIL_SUBJECT=Test
TEST_EMAIL_BODY=This is an automated email sent by a Playwright test.